<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${department_name} + ' Department'">Department</title>
</head>
<body>

<div>
    <h1 th:text="${department_name}">Department Name</h1>
    <p th:text="${department_description}">Department Description</p>
</div>

<div>
    <h2>Projects</h2>
    <ul>
        <li th:each="projectName, stat : ${project_names}" th:text="${projectName}">Project Name</li>
    </ul>
</div>

<div>
    <h2>Project Descriptions</h2>
    <ul>
        <li th:each="projectDesc, stat : ${project_descriptions}" th:text="${projectDesc}">Project Description</li>
    </ul>
</div>

<div>
    <h2>Users</h2>
    <ul>
        <li th:each="userName : ${user_names}">
            <a th:href="@{'/' + ${userName}}" th:text="${userName}">User Name</a>
        </li>
    </ul>
</div>

</body>
</html>
