<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${name}">Title</title>
</head>
<body>
<h1 th:text="'Hello, STUDENT ' + ${name} + '!'">Hello, STUDENT</h1>
<h2>
    Departments
</h2>
<ul>
    <li th:each="department : ${departments}">
        <a th:href="@{${department_path}(department_id=${department.department_id})}"
           th:text="${department.department_name}">Department
            Name</a>
    </li>
</ul>
<h2>
    Projects
</h2>
<ul>
    <li th:each="project : ${projects}">
        <a th:href="@{${project_path}(project_id=${project.project_id})}" th:text="${project.project_name}">Project
            Name</a>
    </li>
</ul>

<div th:if="${isAdmin}">
    <a th:href="@{${user_edit_path}(name=${name})}" class="button">Edit User</a>
</div>

<div th:if="${isAdmin}">
    <a th:href="@{${admin_path}}" class="button">Go to admin dashboard</a>
</div>

</body>
</html>
